<link rel="stylesheet" href="./css/_header.css">

<header>
  <nav class="navbar navbar-dark custom-bg">
    <div class="container-fluid header-container">
      <a class="navbar-brand logo-container" href="/">
        <img src="/images/header.png" width="30px" alt="Logo" class="logo">
        <span class="logo-text">PLACEMENT CELL</span>
      </a>
      <% if(locals.user) { %>
      <a class="navbar-brand" href="/profile">Hello <%= locals.user.username%></a>
      <%}%>

      <form class="d-flex">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <a class="navbar-brand" href="/student/add-student">Add new Student</a>
        <a class="navbar-brand" href="/interview/add-interview">Add Interview</a>
        <a class="navbar-brand" href="/download">Report</a>
        <a class="navbar-brand" href="/sign-out">Signout</a>
      </form>
    </div>
  </nav>
</header>
